<h2 class="text-center">Reactive Forms</h2>
<hr>
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3>Reactive Forms in Anjular Validation</h3>
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
          <div class="form-group" >
            <label>FirstName</label>
            <input type="text" formControlName="firstName" class="form-control" placeholder="FirstName" [ngClass]="{'is-invalid':userForm.get('firstName')
            .touched && userForm.get('firstName').invalid}"  >
            <div class="invalid-feedback">
              <div>Firstname Required</div>

            </div>
          </div>
          <div class="form-group">
            <label>Lastname</label>
            <input type="text" formControlName="lastName" class="form-control" placeholder="Lastname" [ngClass]="{'is-invalid':userForm.get('lastName')
          .touched && userForm.get('lastName').invalid}">
          <div class="invalid-feedback">
            <div>Last Name Required</div>
          </div>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" formControlName="email" placeholder="abc@gmail.com" [ngClass]="{'is-invalid':userForm.get('email').touched && userForm.get('email').invalid}"   />
            <div *ngIf="userForm.get('email').touched && userForm.get('email').invalid"  class="invalid-feedback">
              <div *ngIf="userForm.get('email').errors.required">Email Name is required</div>
              <div *ngIf="userForm.get('email').errors.email">Email must be a valid email Address</div>
            </div>
          </div>
            
          <div class="form-group">
            <label>Password</label>
            <input type="password" formControlName="password" class="form-control" placeholder="Enter Min 6" [ngClass]="{'is-invalid':
          userForm.get('password').touched && userForm.get('password').invalid}" >
            <div  *ngIf="userForm.get('password').touched && userForm.get('password').invalid" class="invalid-feedback">
              <div *ngIf="userForm.get('password').errors.required">Password Required</div>
              <div *ngIf="userForm.get('password').errors.minlength">Minimum 6 Characters</div>
              
              </div>
              
            
          </div>
          <div class="form-group">
            <button class="btn btn-primary"[disabled]="!userForm.valid" >Register</button>
            
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
<p>
  value:{{userForm.status}}
</p>
